.container-game {
    display: flex;
    height: 100vh;
    background-image: url("images/example.jpg");
    background-size: 100% 100%;
}

.boat {
    position: absolute;
    top: 510px;
    left: 940px;
    z-index: 10;
}

.item-in {
    position: absolute;
    top: 420px;
    left: 1100px;
}

.wolf {
    position: absolute;
    left: 78%;
    top: 45%;
}

.sheep {
    position: absolute;
    left: 84%;
    top: 52%;
    z-index: 1;
}

.cabbage {
    position: absolute;
    left: 85%;
    top: 70%;
}

.boat:hover,
.wolf:hover,
.sheep:hover,
.cabbage:hover {
    cursor: pointer;
    filter: brightness(110%);
}

#div3 {
    position: relative;
}

#div3 img{
    transform: scaleX(-1);
}

#div3 img.wolf {
    padding-right: 100px;
}




